.modal {
    all: initial;
    margin-top: 50%;
    width: 50%;
    height: 50%;
    background-color: aliceblue;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    text-align: none;
    font-size: 40px;
}
