.gameContainer {
    min-width: 100vw;
    overflow: hidden;
    position: relative;
}

.game-bg {
    position: absolute;
    overflow: hidden;
    left: 0px;
    bottom: 60%;
    width: 1536px;
    height: 256px;
    transform: scale(2.5);
    background-image: url('../backgrounds/game-bg.png');
    background-size: 100% 100%;
}

.game-ground {
    position: absolute;
    overflow: hidden;
    width: 1920px;
    height: 160px;
    left: 0px;
    bottom: 45%;
    transform: scale(2.5);
    background-image: url('../backgrounds/game-ground.png');
    background-size: 100% 100%;
}

@keyframes shake {
    0% { margin-left: 0; }
    10% { margin-left: -5px; }
    20% { margin-left: 5px; }
    30% { margin-left: -5px; }
    40% { margin-left: 5px; }
    50% { margin-left: -5px; }
    60% { margin-left: 5px; }
    70% { margin-left: -5px; }
    80% { margin-left: 5px; }
    90% { margin-left: -5px; }
    100% { margin-left: 0; }
}

.shake {
    animation: shake 0.5s ease-in-out infinite;
}
  