h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bungee', cursive;
    font-size: 12.25rem;
    color: #000F08;
    -webkit-text-stroke-width: 0.01rem;
    -webkit-text-stroke-color: #D90429;
    margin: 0;
    padding: 0;
    line-height: 1;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: 'Bungee', cursive;
    font-weight: 400;
    font-size: 3rem;
    color: #FFC300;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #4D4847;
    line-height: 1rem;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: 'Bungee', cursive;
    font-weight: 400;
    font-size: 2rem;
    color: #FFC300;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #4D4847;
    line-height: 1rem;
    margin-top: 2rem;
    margin-bottom: 0
}

h4 {
    display: flex;
    justify-content: center;
    font-family: 'Bungee', cursive;
    font-weight: 400;
    font-size: 2rem;
    color: #000F08;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #D90429;
    line-height: 1rem;
}

h5 {
    display: flex;
    justify-content: center;
    font-family: 'Bungee', cursive;
    font-weight: 400;
    font-size: 1.5rem;
    color: #000F08;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #D90429;
    line-height: 1rem;
}