.highScoresTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  border: 0.15rem solid #000F08;
  padding: 1rem;
  margin: 0 auto;
}

table {
  width: 100rem;
  background-color: #FAFAFA;
  border: solid 0.1rem #000F08;
  border-collapse: collapse;
  text-align: center;
  font-size: 1rem;
}

th, td {
  padding: 8px;
}

th {
  background-color: #000F08;
  color: #FAFAFA;
}

tr:nth-child(even) {
  background-color: #EBEAEA;
}