@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Mono&display=swap');

body {
    background-image: url('../backgrounds/menu-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    font-family: 'Bungee', cursive;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 6.5rem;
}

.nav a {
    text-decoration: none;
    color: #FFC300;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #4D4847;
}

  
  