.player-health-bar {
    width: 200px;
    height: 20px;
    left: 28.5%;
    bottom: 70%;
    background-color: #ccc; 
    border: 1px solid #000; 
    position: absolute;
}

.player-health-fill {
    height: 100%;
    width: calc((var(--currHP) / var(--maxHP)) * 100%);
    background-color: red;
}
  
#player {
    left: 30%;
    bottom: 57%;
    width: 160px;
    height: 96px;
    transform: scale(3);
    background-image: url('../sprites/robot-idle.png');
    background-repeat: no-repeat;
    position: absolute;
    animation: playerIdle 0.4s steps(4) infinite;
}

@keyframes playerIdle {
    0% { background-position: 0 0; }
    100% { background-position: -640px 0; }
}

#player.attack {
    background-image: url('../sprites/robot-attack.png');
    animation: playerAttack 0.8s steps(8) 1;
}

@keyframes playerAttack {
    0% { background-position: 0 0; }
    100% { background-position: -1280px 0; }
}

#player.hit {
    background-image: url('../sprites/robot-hit.png');
    animation: playerHit 0.5s steps(5) 1;
}

@keyframes playerHit {
    0% { background-position: 0 0; }
    100% { background-position: -800px 0; }
}

#player.dying {
    background-image: url('../sprites/robot-dying.png');
    animation: playerDying 1s steps(10) 1;
}

@keyframes playerDying {
    0% { background-position: 0 0; }
    100% { background-position: -1600px 0; }
}

#player.dead {
    background-image: url('../sprites/robot-dying.png');
    animation: none;
    background-position: -1440px 0;
}