.NavBar {
    font-family: 'Bungee', cursive;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: fixed;
    width: 100%;
    background-color: #000F08;
    z-index: 1;
}

.NavBar:hover {
    opacity: 1; 
    pointer-events: auto;
  }

.NavBar a {
    text-decoration: none;
    color: #000F08;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #D90429;
}